.common-section {
  background: linear-gradient(#212245b2, #212245b2),
    url("../assets/images/robin-stickel-tzl1UCXg5Es-unsplash.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

@media only screen and (max-width: 992px) {
  .common-section{
    padding: 60px 0;
  }

  .common-section h2{
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .common-section{
    padding: 30px 0;
  }

  .common-section h2{
    font-size: 1.3rem;
  }
}
